@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lora";
  src: url("/serif.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-primary: #493282;
  --color-warning: #f97316;
  --color-error: #b91c1c;
}

@layer components {
  .hero {
    @apply w-full text-[#333];
  }
}

.title {
  @apply m-0 w-full pt-20;
  font-size: 48px;
}

.title,
.description {
  @apply text-center;
}
